@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*tablet*/

    body {
        height: 72vh;
    }

    main {
        width: 90vw;
        height: 70vh;
        
        margin: 200px 60px 0px 35px;

        max-height: 267px;
        min-height: 267px;
    }

    div#imagem {
       width: 255px;
       height: 268px;

       border-radius: 20px 0px 0px 20px;
    }

    div#formulario {
        width: 60vw;
        position: absolute;
        top: 200px;
        margin-left: 255px;
        
    }
}