@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    height: 80vh;
    background-image: linear-gradient(to top, #601685, #527E7D);
}

main {
    background-color: white;
    margin: auto;
    margin-top: 20vh;
    width: 264px;
    height: 500px;
    border-radius: 20px;

    min-width: 200px;
}

div#imagem {
    width: 264px;
    height: 220px;

    background-image: url(../imagens/pexels-david-underland-3523621.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px 20px 0px 0px;
}

div#formulario > h1 {
    text-align: center;
    padding: 10px;
}

div#formulario > p {
    padding: 10px;
    font-size: 0.8em;
    line-height: 20px;
    font-weight: 600;
}

