@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    background-image: linear-gradient(to top, #601685, #527E7D);
    
}

main {
    background-color: white;
    margin: auto;
    margin-top: 40px;
    width: 264px;
    height: 525px;

    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.411);
}

div#imagem {
    width: 264px;
    height: 220px;

    background-image: url(../imagens/pexels-david-underland-3523621.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px 20px 0px 0px;
}

div#formulario > h1 {
    text-align: center;
    padding: 10px;
}

div#formulario > p {
    padding: 10px 10px 0px 10px;
    font-size: 0.8em;
    line-height: 20px;
    font-weight: 600;
}

form > p#email, p#senha {
    margin: 5px 10px 5px 11px;
    background-color: #601685;

    width: 240px;
    border-radius: 5px;
}

form > p > label > span {
    position: relative;
    top: 5px;
    left: 3px;
    color: white;
}

form > p#email > input {
    height: 25px;
    width: 207px;
    position: relative;
    bottom: 3px;
    border: 1px solid #601685;
    border-radius: 5px;
}

form > p#senha > input {
    height: 25px;
    width: 207px;
    position: relative;
    bottom: 3px;
    border: 1px solid #601685;
    border-radius: 5px;
}

form > p#botao-1 > input {
    margin: 5px 10px 5px 11px;
    width: 240px;
    height: 30px;
    border-radius: 5px;
    border: #4AA29B 1px solid;
    background-color: #4AA29B;
    color: white;
    cursor: pointer;
}

form > p#botao-1 > input:hover {
    background-color: #2A645E;
} 


form > p#botao-2 > input {
    margin: 5px 10px 5px 11px;
    width: 240px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    color: #4AA29B;
    border: 1px solid #4AA29B;
    cursor: pointer;
}

form > p#botao-2 > input:hover {
    background-color: #65CDC5;
    color: white;
}